@model AbuOdeh_Electromechanical.Repository.Entities.Category
@using AbuOdeh_Electromechanical.Resources;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<LocalizationResources> _htmlLocalizer;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="page-container">
    <div class="main-content">
        <div class="page-header">
            <h2 class="header-title">@_htmlLocalizer.GetString("CompanyName")</h2>
            <div class="header-sub-title">
                <nav class="breadcrumb breadcrumb-dash">
                    <a class="breadcrumb-item" href="#">@_htmlLocalizer.GetString("Home")</a>
                    <a class="breadcrumb-item" href="Categories">@_htmlLocalizer.GetString("Categories")</a>
                    <span class="breadcrumb-item active">@_htmlLocalizer.GetString("NewCategory")</span>
                </nav>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form id="CreateCategory" method="post" asp-controller="Categories" asp-action="Create">
                    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                        <div class="media align-items-center m-b-15">
                            <div class="m-l-15">
                                <h4 class="m-b-0">New Category</h4>
                            </div>
                        </div>
                        <div class="m-b-15">
                            <button type="submit" id="addCategory" class="btn btn-primary m-r-5">
                                <i class="anticon anticon-loading m-r-5"></i>
                                <i class="anticon anticon-poweroff m-r-5"></i>
                                <span>Save</span>
                            </button>

                        </div>
                    </div>

                    <hr />

                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="code">@_htmlLocalizer.GetString("NameEn")</label>
                            <input asp-for="NameEn" type="text" class="form-control is-valid" id="nameEn" autocomplete="off" placeholder="@_htmlLocalizer.GetString("NameEn")">
                        </div>
                        <div class="form-group col-6">
                            <label for="nameAr">@_htmlLocalizer.GetString("NameAr")</label>
                            <input asp-for="NameAr" type="text" class="form-control is-valid" id="nameAr" autocomplete="off" placeholder="@_htmlLocalizer.GetString("NameAr")">
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <a href="/admin/categories" id="trigger-loading-1" class="btn btn-default m-r-5">
                            <i class="anticon anticon-loading m-r-5"></i>
                            <i class="anticon anticon-poweroff m-r-5"></i>
                            <span>@_htmlLocalizer.GetString("GoBack")</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        </div>


</div>
